@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
  font-family: 'Kumbh Sans', sans-serif;
}

span {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  font-size: 18px;
}

.top {
  position: absolute;
  top: -500px;
  left: -300px;
  background-color: hsl(185, 75%, 39%);
  z-index: -1;
  border-radius: 50%;
}

.bottom {
  position: absolute;
  bottom: -600px;
  right: -200px;
  background-color: hsl(185, 75%, 39%);
  z-index: -1;
  border-radius: 50%;
}

.card {
  position: relative;
  margin: 13rem 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 1440px) {
  .card {
    margin: 10rem 35rem;
  }
}

@media only screen and (max-width: 375px) {
  .card {
    margin: 10rem 1rem;
    width: 340px;
  }
}

.pattern {
  width: 100%;
  object-fit: contain;
}

.profile-pic {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
  top: 85px;
  height: 105px;
  border: 5px solid white;
}

.info {
  margin-top: 60px;
}

.name {
  text-align: center;
}
.name p {
  color: hsl(227, 10%, 46%);
}

.stats {
  display: flex;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  gap: 50px;
}
.stats p {
  color: hsl(0, 0%, 59%);
}
